
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(197, 151, 157, 0.466);
    color: #333;
}

header {
    background-color: #077bc9;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #0be767;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.blog-post {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
   
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.blog-content {
    display: none;
    padding: 10px;
}

/* Add a hover effect for blog posts */
.blog-post:hover {
    background-color: rgb(184, 195, 211);
    cursor: pointer;
    transition: 2s;
}
.blog-post  img{
    width: 100%;
}
