

 
.news-container{
    background-color: #652d90;
    color: black;
    border-radius: 10px;
  }
  .achievement-container{
    background-color: #652d90;
    padding: 10px;
    border-radius: 10px;
    color: black;
  }
  .Strategies-container{
    background-color: #fff;
    border-radius: 10px;
    color: black;
    
  }
  
  .Goals-container{
    background-color: #fff;
    border-radius: 10px;
    color:black;
  }
  
  
  .Mission-container{
    background-color:#fff ;
    border-radius: 10px;
    color: black;
  
  }
  
  .vision-container {
        background-color: #fff; 
        color: black;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
  }
  
  .History-container {
    background-color: #fff;
    color: black;
    box-shadow:rgba(0, 0, 0, 0.5) ;
   border-bottom: 20px;
   border-radius: 10px;
  }
  
  .subpage-title {
    margin-left: 300px;
  }
  .page-title{
    margin-left: 210px;
  }
  
  
  footer ul {
    list-style: none;
    padding: 2;
    margin: 10px;
    padding: 10px;
    
  }
  
  
    
  .footer {
  background-color: #030a02ef;
  color: #fff;
  padding: 100px 0;
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 12px;
  }
  
  .footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: left;
  max-width: 1200px;
  margin:  auto;
  padding: 0 20px;
  
  }
  
  
  .footer-left {
  flex: 1;
  margin-bottom: 5px;
  
  }
  
  .footer-left p {
  margin: 0px;
  font-size: 20px;
  flex: 1;
  
  }
  
  
  .footer-right {
  flex: 1;
  text-align: right;
  
  }
  
  .social-icons {
  list-style: none;
  margin: 7px;
  padding: 20px;
  
  
  
  }
  
  .social-icons li {
  display: inline-block;
  margin-right: 10px;
  }
  
  .social-icons a img {
  width: 30px;
  height: 30px;
  border-radius:10px;
  }
  
  
  .social-icons a img:hover { 
  cursor: pointer;
  opacity: 0.7;
  color: #3a0606;
  }
  .hero-section{
  background-color: rgba(95, 73, 192, 0.76);
  color:white;
  align-content: center;
  
  }
  
  body {
  background-color:rgb(20, 20, 20);
  color: white;
  
  }
  
  
  .video-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  }
  video {
  width: 100%;
  height: 98%;
  object-fit: cover;
  
  }
  
  .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font: size 100vw;
  font-weight: bold;
  text-align: center; 
  display: flex;
  
  }
  
  